body{
    margin: 0px;
    padding: 0px;   
    height: 100vh; 

    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */

    font-family: 'Open Sans';

    background-color: rgb(248, 248, 248);    

}

header{
    min-height: 100px;
    background-color: rgb(22, 22, 22);
    background-image: url('images/bg_photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 3px rgb(248, 110, 0);    
    color: rgb(204, 204, 204);

    
    font-size: 2em;    
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 1rem;
    
}

footer{
    margin-top: auto;
    background-color: rgb(56, 56, 56);
    color: rgb(220, 220, 220);

    text-align: center;
    padding: 0.5rem 10%;
    font-size: small;
}

.container{
    margin: auto;
    /* height: 100%; */
    /* min-height: 1000px; */
    min-width: 400px;
    width: 90%;

    background-color: white;
    /* height: 100vh; */
}

.featured{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    margin: 2rem;
}

.card-feature{
    max-width: 30%;
    min-width: 300px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    

    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 20px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-feature:hover{
    max-width: 30%;
    min-width: 300px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  

    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 20px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-feature-text{
    font-size: small;
    text-align: left;
    padding: 1.5rem;
}

.card-feature-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(243, 243, 243);

    flex-direction: column;

    padding: 0.5rem;
}

.card-feature-title{
    font-size: 1.3rem;    
}

.card-feature-buttons{
    border-top: solid 1px rgb(220, 220, 220);
    padding: 1rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;    
}

.card-feature-button{
    background: rgb(223, 99, 0);

    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;   
    text-decoration: none;
    font-size: 0.7rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
        
}

.card-feature-button:hover{
    background: hsl(27, 100%, 35%);

    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;   
    text-decoration: none;
    font-size: 0.7rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    /* font-weight: bold; */
}

.more{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;

    margin: 2rem;

    border-top: solid 1px rgb(204, 204, 204);
    padding: 2rem;
}

.card-more{
    max-width: 400px;
    padding: 2rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 20px 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;

}

.card-more-header{
    display: flex;
    /* justify-content: space-around; */
    gap: 1rem;
}

.card-more-title{
    font-size: large;
}

.card-more-text{
    font-size: smaller;   
}


.card-more-text> div > a{
    text-decoration: none;
    color: rgb(0, 134, 126)
}

.card-more-text> div > a:hover{
    text-decoration: none;
    color: hsl(176, 98%, 19%);
    text-decoration: underline;    
    font-weight: bold;
}

.card-more-text> div > a:hover::before{

    content: "> ";
}

.card-more-buttons{
    padding: 1rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;   
    
    /* border-top: solid 1px rgb(204, 204, 204); */
}

.card-more-button{
    background: rgb(0, 134, 126);

    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;   
    text-decoration: none;
    font-size: 0.7rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
        
}

.card-more-button:hover{
    background: hsl(176, 98%, 19%);

    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;   
    text-decoration: none;
    font-size: 0.7rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    font-weight: bold;
}

.list{
    line-height: 200%;
}

.link-footer{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: rgb(0, 134, 126);
}

.link:hover{    
    color: rgb(0, 134, 126);
}